@charset "UTF-8";

@font-face {
    font-family: ;
    src: url(); format('');
    font-weight: normal;
}

:root{
    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: cursive ;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

main{

}

p{
    font-family: ;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
}